---
import { links } from '../../utils/links'
import type {EventProps} from '../../types/event'

type Props = {
    events: Array<EventProps>
}

const {events} = Astro.props

var upcomingEvent: EventProps | null = (() => {
    if (events && events.length > 0) {
        const now = new Date();
        const result = events.reduce((maxEvent, currentEvent) => {
            const maxEventDate = new Date(maxEvent.data.date);
            const currentEventDate = new Date(currentEvent.data.date);
            return currentEventDate > maxEventDate ? currentEvent : maxEvent;
        });
        return new Date(result.data.date) > now ? result : null;
    }
    return null;
})();
---
<script>
    import {gsap} from 'gsap'; 
    
    document.addEventListener('DOMContentLoaded', () => {
        let clickCount: number = 0;
        const sectionWrapper = document.getElementById('hero-wrapper') as HTMLElement;
        const cicWrapper = document.getElementById('hero-cic') as HTMLElement;
        const heartElement = document.getElementById('hero-logo') as HTMLElement;
        heartElement.classList.add('heartbeat-zero');

        heartElement.addEventListener('click', () => {
            clickCount++;

            heartElement.classList.remove('heartbeat-zero', 'heartbeat-one', 'heartbeat-two', 'heartbeat-three');

            switch (clickCount) {
                case 1:
                    heartElement.classList.add('heartbeat-one');
                    break;
                case 2:
                    heartElement.classList.add('heartbeat-two');
                    break;
                case 3:
                    heartElement.classList.add('heartbeat-three');
                    clickCount = 2;
                    break;
            }
        });

        
        const heroTimeline = gsap.timeline();
        const wrapperTimeline = gsap.timeline({defaults: {duration: 2, ease: "power1.inOut"}});

        wrapperTimeline
            .to(sectionWrapper, {
                autoAlpha: 1,
                duration: .1
            })
            .from(sectionWrapper, {
                padding: '0px'
            })
            .from(cicWrapper, {
                borderRadius: '0px'
            }, '<')
            .from('#hero-cic > *', {
                opacity: 0,
                duration: 0.5,
                ease: "power2.in"
            }, '<+.5')
        
        heroTimeline
            .from('#hero-header > h1', {
                opacity: 0,
                x: -100,
                duration: 1.5,
                stagger: 0.5,
                ease: 'power1.out'
            }, 0.5)
            .from('#hero-navlist > li', {
                opacity: 0,
                x: 100,
                duration: 1.5,
                stagger: 0.5,
                ease: 'power1.out'
            }, 0.5)
    });
    document.addEventListener('DOMContentLoaded', () => {
        const links = document.querySelectorAll('.animated-link');

        links.forEach((link) => {
            link.addEventListener('click', (event) => {
                event.preventDefault();
                const target = link.getAttribute('data-target');
                if (target) {
                    const wrappers = document.querySelectorAll('.section-wrapper');
                    const cics = document.querySelectorAll('.cic');

                    const timeline = gsap.timeline({
                        defaults: { duration: 0.5, ease: "power1.inOut" },
                        onComplete: () => {
                            window.location.href = target;
                        },
                    });

                    timeline
                        .to('.cic > *', {
                            opacity: 0,
                            stagger: 0.1,
                        })
                        .to(wrappers, {
                            padding: 0,
                        }, '<')
                        .to(cics, {
                            borderRadius: '0px',
                        }, '<');
                } else {
                    console.error("No 'data-target' attribute found on the link.");
                }
            });
        });
    });
</script>

<section class="section-wrapper bg-pink color-pink" id="hero-wrapper">
    <div class="cic" id="hero-cic">
        <div class="content-wrapper">
        <?xml version="1.0" encoding="UTF-8"?><svg class="background-image" id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="1921" height="376" viewBox="0 0 1921 376"><defs><style>.cls-1{stroke-width:0px;}</style></defs><path id="skyline-path" class="cls-1" d="M1921,309c-4.12.61-8.24,1.21-12.35,1.85-4.1.63-5.93-1.14-5.85-5.24.17-8.33.26-16.66.37-25,.02-1.62,0-3.23,0-4.78q-11.34-1.34-11.72-12.92c-.11-3.29-.36-6.57-.56-10.16-4.67.05-9.33-2.82-12.55,2.95-.67,1.19-3.59,1.39-5.52,1.57-13.27,1.23-26.55,2.47-39.85,3.39-3.93.27-4.93,1.77-4.95,5.5-.11,15.83-.5,31.66-.82,47.49-.13,6.5-1.03,7.35-7.63,7.64-6.33.27-12.65.78-18.98.79-3.5,0-5.38,1.47-7.07,4.36-5.39,9.2-11.18,18.17-16.52,27.39-2.04,3.52-4.63,4.76-8.55,4.63-11.16-.39-22.33-.35-33.48-.92-3.3-.17-6.53-1.81-9.25-2.62-4.55.81-9.03,1.86-13.56,2.34-3.46.37-6.99.04-10.49.01-8.07-.06-8.57-.53-8.73-8.42-.5-24.16-1-48.32-1.47-72.48-.07-3.79-.01-7.57-.01-11.87-2.68,0-4.46-.06-6.24,0-23.98.98-47.95,2.07-71.94,2.87-4.11.14-5.32,1.44-5.37,5.5-.15,13.65.29,13.93-13.8,11.5-2.63-.45-5.26-.87-7.91-1.17-5.78-.65-11.58-1.2-12.36-10.01-1.25,2.24-1.98,3.16-2.31,4.2-1.21,3.79-3.74,5.53-7.69,6-5.95.71-11.85,1.88-17.78,2.79-7.41,1.14-8.26.52-8.66-6.75-.72-12.81-1.42-25.63-1.94-38.45-.13-3.23-1.08-4.89-4.56-4.97-2.98-.07-5.95-.8-8.94-.98-4.84-.3-6.98-2.52-7.15-7.58-.93-27.48-2.13-54.95-3.18-82.43-.44-11.56-.37-11.66-11.68-12.06-6.12-.22-12.26-.04-18.96-.04-.12,1.6-.37,3.53-.41,5.45-.77,36.16-1.51,72.31-2.26,108.47-.15,7.11-.43,7.44-7.5,8.48q-10.64,1.56-10.72,12.5c-.26,30.16-.53,60.33-.81,90.49-.07,7.03-.46,7.46-7.49,8.56-2.8.44-5.59.91-8.4,1.26-6.09.76-7.36-.34-7.56-6.63-.73-22.99-1.92-45.97-1.92-68.96,0-9.7-2.42-17.28-9.55-23.82-4.52-4.14-8.41-9.02-12.3-13.8-1.96-2.41-3.75-2.85-6.37-1.35-1.58.91-3.31,1.57-5.02,2.24-3.15,1.23-6.26,2.17-5.32,6.9.23,1.17-1.99,2.99-3.33,4.24-.64.6-1.87.73-2.85.78-7.09.37-11.22,4.24-14.3,10.48-1.46,2.96-4.81,5.3-7.8,7.08-2.62,1.56-3.81,3.09-3.86,6.18-.25,15.83-.57,31.66-1.23,47.48-.11,2.66-1.98,5.25-3.02,7.88-.47,1.17-1.21,2.33-1.29,3.53-.16,2.32-.17,4.7.19,6.98.93,5.92-1.34,9.58-7.06,11.35-1.52.47-3.12,1.39-4.16,2.57-3.55,4.01-8.24,5.69-13.95,3.01-2.37-1.11-3.43-5-5.09-7.63.44-.37.88-.73,1.32-1.1-1.08-.24-2.15-.6-3.25-.71q-8.54-.88-8.68-9.74c-.29-18.66-.74-37.33-.74-55.99,0-4.92-1.64-6.49-6.3-5.99-2.63.28-5.33-.06-7.99-.07-3.18-.02-6.68-1.03-8.21,3.39-.29.84-2.22,1.34-3.47,1.57-8.46,1.54-15.07,9.37-15.07,17.98,0,7.17-.06,14.33.02,21.5.04,3.49-.95,5.96-4.94,5.96-3.75,0-7.61.08-8.34-5-.21-1.48-.41-2.97-.65-4.45-.85-5.37-3.26-6.54-8.19-3.83-1.89,1.04-3.61,2.4-5.46,3.52-4.54,2.77-6.99,1.55-7.04-3.69-.06-7,.09-14,.29-21,.07-2.4-.44-3.76-2.93-4.95-1.59-.76-2.92-3.46-3.15-5.43-.57-4.95-.58-9.98-.55-14.98.02-3.03-1.11-4.05-4.13-4.01-9.33.15-18.67.06-28,.05-8,0-8.58-.58-8.69-8.41-.53-38.49-1.01-76.99-1.69-115.48-.04-2.29-1.92-4.48-2.57-6.83-.91-3.25-1.48-6.6-2.34-10.55-14.21-.51-28.79-1.04-41.9-1.52-2.86,4.39-5.25,7.68-7.16,11.23-.71,1.32-.41,3.25-.39,4.9.51,48.5,1.09,96.99,1.48,145.49.02,2.72-.95,7.54-2.23,7.81-4.56.98-9.48.75-14.17.15-.87-.11-1.74-4-1.79-6.16-.74-32.99-1.36-65.98-1.99-98.98-.17-9.07-.14-9.05-8.98-9.2-12.16-.21-24.33-.46-36.49-.72-6.37-.13-7.07-.79-7.21-7.32-.67-31.82-1.3-63.65-1.96-95.48-.04-1.81-.17-3.61-.29-5.9-17.97-1.31-35.5-5.62-53.37-2.13-1.16.23-2.69,2.22-2.81,3.51-.4,4.3-.23,8.65-.3,12.99-.11,6.85-.58,7.37-7.17,8.21-3.64.46-7.26,1.06-10.91,1.35-2.76.21-3.75,1.47-3.6,4.16.15,2.66.02,5.33.01,8-.06,44.17-.11,88.33-.18,132.5-.01,8.39-1.74,9.37-8.98,5.22-4.15-2.37-8.01-5.35-13.38-4.55-1.02.15-2.84-1.9-3.5-3.3-.65-1.4-.34-3.27-.36-4.93-.42-38.83-.75-77.66-1.36-116.49-.05-3.05-1.29-6.54-3.09-9.02-6.47-8.88-13.26-17.56-20.31-25.99-1.82-2.18-5.03-3.23-7.67-4.67-3.1-1.69-6.3-3.2-9.42-4.87-1.43-.76-2.67-2.26-4.14-2.5-6.72-1.08-13.49-1.84-21.02-2.82.67,8.86-3.76,12.16-12.47,10.71,1.83,6.62-.08,10.4-6.37,11.6-.91.17-2.02,2.19-2.08,3.4-.23,4.14-2.05,6.65-6.23,7.04-3.9.36-4.64,2.57-4.61,6.11.16,16.16-.02,32.33.12,48.5.04,4.36-.66,7.72-6.41,7.83,1.27,6.97-2.74,8.65-9.63,7.94,0,10.25.05,19.87-.02,29.5-.06,8.33-.22,16.66-.43,25-.13,5.3-1.43,6.56-6.69,6.18-8.78-.64-17.54-1.48-26.77-2.27-.35,2.89-.23,5.49-1.05,7.74-.89,2.42-2.67,4.51-4.06,6.74-.73,1.17-1.84,2.26-2.13,3.53-.97,4.29-8.91,8.91-12.74,6.74-1.43-.81-2.43-3.5-2.51-5.38-.36-8.15-.3-16.33-.41-24.49-.28-20.5-.5-41-.96-61.49-.04-2-1.66-3.93-2.34-5.96-.84-2.56-1.47-5.19-2.34-8.36-1.27-.08-3.06-.27-4.84-.3-9.33-.19-18.66-.35-27.99-.5-10.5-.17-13.02,2.29-13.22,13.17-.25,14.33-.42,28.66-.59,42.99-.12,9.5-.38,19-.19,28.5.1,4.95-1.49,8.03-6.52,8.95-3.37.61-5.38,2.03-6.13,5.97-.35,1.84-3.83,3.71-6.22,4.37-2.95.82-4.19,1.91-4.09,5.01.14,4.33-.3,8.67-.13,12.99.17,4.17-1.61,6.63-5.53,7.71-.16.04-.31.13-.47.17-7.81,1.67-12.82,5.34-11.49,14.5.5,3.46-1.84,5.51-5.51,5.64-1.5.05-2.99.2-4.49.33-8.56.8-8.64.79-9.63,9.17-.46,3.92-2.74,4.87-6.23,4.7-6.96-.34-8.61-1.33-8.59-6.29.05-11,.68-22.01.34-32.99-.21-6.72-1.8-13.39-2.71-20.09-.51-3.69-2.65-4.72-6.21-4.78-6.66-.1-13.31-.68-19.97-1.09-5.65-.35-6.58-1.33-6.45-7.06.34-14.83.78-29.65,1.02-44.48.03-2.02-.22-4.81-1.49-5.93-4.05-3.56-6.46-7.49-4.86-13.77h-42.89c-2.26,3.76-4.44,7.09-6.29,10.59-.73,1.38-.98,3.15-1.01,4.75-.18,11-.39,22-.28,33,.05,4.81-1.76,6.99-6.63,7.23-6.99.34-13.95,1.15-20.93,1.64-2.5.17-4.14.42-4.82,3.62-.33,1.53-3.49,3.39-5.45,3.49-9.98.52-19.99.49-29.99.7-1.66.03-3.73-.32-4.89.51-7.76,5.52-16.28,3.57-24.68,2.89-3.37-.27-6.43-.86-7.75,3.79-.36,1.29-3.83,2.35-5.9,2.38-9.49.18-19-.06-28.5-.12-.98,0-1.95.16-2.66.22-1.26,3.93-1.54,8.42-3.91,10.95-1.78,1.9-6.25,1.71-9.53,1.69-5.93-.03-3.61-5.18-4.74-8.79-6.39.54-6.23-3.9-6.09-8.55.8-26.49,1.46-52.98,2.38-79.46.14-3.97-.64-5.57-4.97-5.71-20.32-.67-40.63-1.67-60.94-2.53-1.14-.05-2.29.09-3.95.16-.13,1.89-.32,3.65-.36,5.43-.39,14.16-.73,28.32-1.14,42.48-.15,5.14-7.63,11.39-12.38,9.93-1.37-.42-2.83-3.15-2.87-4.84-.16-8.33.15-16.66.28-24.99.03-1.62,0-3.24,0-4.71q-10.58-2.72-11.67-13.08c-10.95,0-22.08,0-33.21,0-2,0-4-.08-6-.14-6.64-.2-7.46-1-7.49-7.63-.04-7.3,0-14.6,0-23.28-24.12,4.67-47.25,2.01-70.74-4.04-.23,2.87-.45,4.78-.52,6.69-1.52,39.97-3.01,79.94-4.53,119.91-.31,8.1-.55,8.38-8.62,8.7-20.32.8-40.63,1.53-60.95,2.25-7.18.26-8.12-.72-8.02-7.87.49-34.33.96-68.66,1.44-102.99.08-5.45-4.45-11.2-9.93-11.5-5.57-.31-9.11-1.88-8.16-9.35-7.38,0-14.3.05-21.22-.02-7.16-.07-7.69-.75-7.63-7.75.08-9.8.02-19.6.02-30.1-4.67-.34-9.93-.81-15.2-1.08-3.15-.16-5.27-1.18-6.43-4.43-.44-1.25-2.41-2.59-3.8-2.74-3.62-.38-7.3-.13-10.98-.13q-3.26,6.34-10.94,5.86c-4.49-.29-8.98-.62-13.47-.94,0-2,0-4,0-6h16.77c.55-5.58,4.7-5.86,9.41-5.54,4.32.29,8.71-.12,12.97.5,1.9.28,4.51,1.98,5.11,3.64,1.09,3.02,2.87,3.65,5.57,3.76,4.16.16,8.31.6,12.48.73,4.36.14,6.12,2.03,6.01,6.56-.26,10.13-.08,20.28-.08,31.81,6.22,0,13.14.09,20.05-.03,4.56-.08,7.93.78,7.91,6.44,0,.84,2.12,1.82,3.38,2.52,4.4,2.41,9.11,4.37,13.15,7.27,1.34.96,1.41,4.26,1.38,6.48-.42,33.66-.95,67.32-1.45,100.98-.03,2.3,0,4.6,0,7.6,21.7-.78,42.92-1.54,64.64-2.32.16-2.44.33-4.54.42-6.64,1.56-40.3,3.08-80.6,4.66-120.9.3-7.71,1-8.19,8.79-6.9,3.45.57,6.95.98,10.33,1.85,18.55,4.76,37.24,4.28,56.06,2.1,7.68-.89,8.29-.03,8.35,7.7.05,6,.25,12,.06,18-.11,3.42.97,4.69,4.48,4.72,11,.1,21.99.49,32.99.79q10.11.28,10.11,10.62c.64.23,1.35.65,2.11.74,8.93,1.15,8.88,1.14,8.8,10.01-.07,7.75-.01,15.5-.01,23.26.42.1.85.2,1.27.3.34-1.65.94-3.29.99-4.95.45-14.66.79-29.32,1.19-43.98.18-6.59,1.17-7.62,7.69-7.35,22.81.94,45.62,1.95,68.43,2.96,5.84.26,6.87,1.44,6.71,7.37-.72,25.49-1.45,50.97-2.15,76.46-.07,2.64,0,5.29,0,8.33,7.27-.41,6.49,5.02,6.6,9.83.58.08,1.17.17,1.75.25.61-1.4,1.61-2.76,1.76-4.21.88-8.79.82-8.81,9.5-8.71,8.67.1,17.33.38,25.99.21,1.62-.03,3.95-1.46,4.65-2.88,1.43-2.87,3.34-3.96,6.32-3.74,3.66.27,7.32.46,10.96.85,5.7.61,11.16.74,16.37-2.56,1.92-1.22,4.79-1.24,7.24-1.27,9.81-.13,19.62-.05,29.88-.05-.25-6.49,3.52-7.35,8.08-7.62,7.95-.47,15.88-1.22,24.76-1.93,0-10.87.05-21.33-.02-31.78-.03-4.87-.19-9.53,4.25-13.16,1.26-1.03,1.12-3.98,1.32-6.08.34-3.62,2.04-5.4,5.79-5.31,15.33.38,30.66.69,45.99,1.02,3.98.09,6,2.14,5.31,6.06-.75,4.25.74,7.1,3.79,10.06,1.73,1.68,2.66,4.97,2.65,7.52-.07,14-.36,28-.99,41.98-.2,4.46,1.17,5.83,5.48,5.83,5.82,0,11.64.79,17.47.91,4.83.1,7.09,2.21,8.94,6.84,4.44,11.12,3.72,22.53,3.56,34.01-.1,7.44-.02,14.88,1.15,22.5.25-1.71.79-3.45.69-5.14-.29-5.15,2.23-7.36,7.14-7.37.33,0,.67-.04,1-.08,3.47-.37,7.96.42,10.12-1.46,1.96-1.71.93-6.49,2.07-9.61.8-2.18,2.8-5.14,4.7-5.51,10.41-1.99,13.76-8.18,12.2-18.04-.26-1.62.08-3.33.09-4.99.02-3.7,1.62-6.07,5.49-6.43,3.24-.3,5.15-1.35,6.19-5.06.6-2.16,3.97-4.17,6.5-5,3.49-1.14,4.59-2.77,4.61-6.37.12-22.83.19-45.67.95-68.49.19-5.79,2.58-11.59,4.57-17.16.51-1.43,3.38-2.86,5.15-2.86,15,.05,29.99.43,44.99.73,4.05.08,5.47,2.17,5.22,6.17-.1,1.66,1.19,3.38,1.72,5.11.65,2.15,1.6,4.33,1.64,6.51.47,27.33.79,54.66,1.16,81.99.02,1.75.21,3.49,1.48,5.43.42-.88.86-1.75,1.24-2.64.63-1.5.86-3.99,1.88-4.36,4.89-1.78,4.73-5.75,5.1-9.73.66-7.12,1.63-7.9,8.78-7.33,8.09.65,16.17,1.38,25.1,2.15,0-3.41-.05-6.18,0-8.96.29-14.16.61-28.32.91-42.49q.17-8.23,8.4-9.48c.13-3.63.57-7.18,5.46-7.9.74-.11,1.52-2.97,1.53-4.56.11-15.67.07-31.33.07-47,0-7.63.06-7.49,7.27-10.07,1.44-.52,3.08-2.46,3.33-3.96.58-3.56,1.99-5.96,5.64-6.66,2.98-.57,3.4-2.34,3.09-5.1-.64-5.6.51-6.96,6.22-6.79,4.05.13,6.26-.74,6.2-5.32-.06-4.34,2.23-6.27,6.78-5.59,7.25,1.09,14.89.86,21.71,3.14,7.37,2.46,13.58,8.05,21.46,9.79,9.04,11.54,18.2,22.99,27,34.71,1.31,1.75,1.3,4.75,1.33,7.17.45,37.83.8,75.66,1.17,113.49.02,1.81,0,3.62,0,5,4.74,1.97,8.92,3.7,13.71,5.69,0-2.25,0-4.03,0-5.81.08-45.16.16-90.33.24-135.49.01-7.05.18-7.17,7.06-8.06,4.6-.6,10.81.09,13.3-2.59,2.44-2.63,1.11-8.78,1.39-13.39.1-1.66.1-3.33.15-5,.09-3.16,1.54-4.99,4.86-5.1,1.16-.04,2.32-.25,3.48-.38q8.63-.96,8.61-9.9c-.04-17.83-.09-35.67-.11-53.5,0-1.66-.19-3.47.4-4.92.47-1.14,2.02-2.57,3.06-2.55,1.07.02,2.58,1.46,3.04,2.61.58,1.46.36,3.27.37,4.93.11,18.5.35,37,.19,55.5-.04,4.53.93,6.38,5.83,6.71,10.97.73,21.87,2.33,32.83,3.27,4.86.42,6.46,2.66,6.53,7.39.51,31.66,1.22,63.32,1.87,94.97.04,1.96.17,3.92.31,6.86,7.69,0,14.98-.04,22.27.01,7.67.06,15.33.17,23,.33,6.03.12,6.93.98,7.05,7.03.68,33.99,1.31,67.98,1.97,101.97.04,1.81.17,3.62.27,5.82h5.45c0-2.11.02-4.07,0-6.02-.52-47.99-1.04-95.99-1.55-143.98-.04-3.92-.9-8.05,4.13-10.2,1.03-.44,1.24-3.25,1.46-5.01.43-3.43,2.25-5.08,5.65-4.97,15.66.52,31.31,1.03,46.97,1.62,3.43.13,5.09,2.08,4.94,5.56-.13,3.12-.39,6.04,2.81,8.4,1.23.91,1.14,3.99,1.17,6.09.54,38.16,1,76.32,1.49,114.48.03,1.97.17,3.94.29,6.73,3.16,0,6.09,0,9.02,0,8.5,0,17,.05,25.5,0,3.9-.02,5.88,1.68,5.93,5.67.05,4,.22,8,.42,11.99.19,3.64-.8,7.75,4.62,9.06.98.24,1.7,3.38,1.76,5.21.21,6.63.08,13.27.08,19.04,4.87-.55,9.68-1.65,14.44-1.5,7.33.24,3.99,7.6,7.09,11.88,0-8.16.06-15.54-.02-22.91-.04-3.59.11-6.67,3.76-9.04,2.55-1.66,3.86-5.11,6.28-7.09,2.14-1.76,5.04-2.6,7.59-3.88.7-.35,1.83-.68,1.95-1.2,1.03-4.6,4.54-4.13,7.9-4.08,6.33.11,12.67.17,19,.32,5.89.14,7,1.21,7.1,7.08.35,20,.64,39.99.97,59.99.03,2.1-.42,4.19,2.96,4.62,8.91,1.13,8.88,1.29,9.84,10.63,1.99-.87,3.75-1.5,5.37-2.38,1.87-1.02,3.48-2.71,5.45-3.33,3.95-1.25,5.08-3.71,4.59-7.56-.31-2.47-.26-5-.17-7.49.05-1.46,0-3.63.86-4.24,4.76-3.34,3.51-8.22,3.65-12.7.44-14.16.81-28.32,1.05-42.48.07-3.92,1.22-6.89,5.12-8.18,4.59-1.52,7.66-4.59,9.37-9.01,2.28-5.9,6.57-8.92,12.8-9.5,1.45-.13,2.85-.76,4.83-1.31-1.98-6.29,2.13-8.32,6.82-10.1,3.58-1.36,7.05-2.99,10.54-4.57,3.14-1.42,5.67-.93,8.01,1.75,7.56,8.67,15.37,17.11,22.75,25.92,1.53,1.83,2.26,4.81,2.35,7.31.96,24.81,1.71,49.63,2.53,74.45.06,1.79.19,3.58.33,6.01,3.06-.45,5.9-.31,8.13-1.41,1.32-.65,2.32-3.25,2.35-4.99.41-31.5.65-62.99.92-94.49q.08-9.64,9.43-10.94c8.67-1.2,8.72-1.2,8.92-10.14.8-35.49,1.56-70.98,2.34-106.47.16-7.09.87-7.8,7.84-7.56,9.16.31,18.32.71,27.48,1.08,6.76.27,7.38.89,7.66,7.56,1.23,29.64,2.53,59.27,3.59,88.92.14,3.97,1.32,5.34,5.31,5.83,17.54,2.16,14.37-.64,15.62,17.15.77,10.95,1.14,21.93,1.74,33.83,6.88-1.15,13.39-2.07,19.81-3.47,1.19-.26,2.18-2.3,2.88-3.7,1.41-2.83,2.38-5.89,3.9-8.65.61-1.11,2.22-2.38,3.33-2.33,1.12.05,3.02,1.51,3.15,2.54,1.96,15.01,14.11,12.37,25.01,14.59,0-4.33.02-8.06,0-11.79-.03-3.91,1.89-5.75,5.78-5.91,27.97-1.15,55.95-2.32,83.91-3.57,4.82-.22,5.9,2.33,5.98,6.48.53,26.83,1.28,53.65,1.66,80.48.07,4.66,1.18,6.78,6.1,6.12,2.29-.31,4.68-.19,6.99.03,3.91.39,6.96-.62,9.77-3.63,3.52-3.76,5-3.17,8.35.78,1.38,1.63,3.93,3.04,6.02,3.15,10.15.5,20.32.68,30.48.57,1.86-.02,4.43-1.41,5.44-2.97,5.97-9.23,11.67-18.64,17.26-28.11,2-3.38,4.55-4.95,8.48-4.98,6-.05,11.99-.74,17.98-.64,4.11.07,4.93-1.64,4.96-5.35.12-15.83.52-31.66.83-47.49.12-6.26.9-7.06,7.21-7.6,13.45-1.15,26.91-2.2,40.34-3.57,1.72-.17,3.7-1.63,4.81-3.07,2.73-3.55,20.73-3.13,22.58.86.6,1.29.62,2.92.65,4.4.07,4.97.03,9.94.03,15.46,2.38,0,3.81.04,5.23,0,6.03-.2,6.89.62,6.9,6.8.02,9.3,0,18.6,0,28.44,3.97-.36,7.71-.7,11.46-1.04v6Z"/></svg>            
        <div class="loveless-header stroke-pink" id="hero-header">
                <h1>MR</h1>
                <h1>LOVELESS</h1>
                <h1>BRISBANE</h1>
            </div>
            <img src="/images/loveless-pink.png" id="hero-logo" class="loveless-logo" alt="">
            <ul class="nav-list" id="hero-navlist">
                <li class="stroke-pink">
                    <a href="/events" class="animated-link" data-target='/events'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75L12 13.5z"/></svg>
                        <span class="li-text">EVENTS</span>
                    </a>
                </li>
                <li class="stroke-pink">
                    <a href="/gallery" class="animated-link" data-target='/gallery'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m15.75 10.5l4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25"/></svg>                        
                        <span class="li-text">GALLERY</span>
                    </a>
                </li>
                {upcomingEvent &&  <li class="stroke-pink">
                    <a target="_blank" href={upcomingEvent.data.ticketLink}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24"><path fill="currentColor" d="M3 10h-.75c0 .414.336.75.75.75zm0 4v-.75a.75.75 0 0 0-.75.75zm18-4v.75a.75.75 0 0 0 .75-.75zm0 4h.75a.75.75 0 0 0-.75-.75zM5 5.75h5v-1.5H5zm5 0h9v-1.5h-9zm9 12.5h-9v1.5h9zm-9 0H5v1.5h5zM9.25 5v14h1.5V5zm-5.366 6.116a1.25 1.25 0 0 1 0 1.768l1.06 1.06a2.75 2.75 0 0 0 0-3.889zm16.232 1.768a1.25 1.25 0 0 1 0-1.768l-1.06-1.06a2.75 2.75 0 0 0 0 3.889zM3 10.75c.321 0 .64.122.884.366l1.06-1.06A2.74 2.74 0 0 0 3 9.25zm.75-.75V7h-1.5v3zm0 7v-3h-1.5v3zm.134-4.116A1.24 1.24 0 0 1 3 13.25v1.5c.703 0 1.408-.269 1.945-.806zm16.232-1.768c.244-.244.563-.366.884-.366v-1.5c-.703 0-1.408.269-1.945.806zM20.25 7v3h1.5V7zm0 7v3h1.5v-3zm.75-.75c-.321 0-.64-.122-.884-.366l-1.06 1.06A2.74 2.74 0 0 0 21 14.75zm-16 5c-.69 0-1.25-.56-1.25-1.25h-1.5A2.75 2.75 0 0 0 5 19.75zm14 1.5A2.75 2.75 0 0 0 21.75 17h-1.5c0 .69-.56 1.25-1.25 1.25zm0-14c.69 0 1.25.56 1.25 1.25h1.5A2.75 2.75 0 0 0 19 4.25zM5 4.25A2.75 2.75 0 0 0 2.25 7h1.5c0-.69.56-1.25 1.25-1.25z"/></svg>
                        <span class="li-text">TICKETS</span>
                    </a>
                </li>}
                <li class="stroke-pink">
                    <a target="_blank" href={links.merch}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 4h3s0 3 3 3s3-3 3-3h3m0 7v8.4a.6.6 0 0 1-.6.6H6.6a.6.6 0 0 1-.6-.6V11m12-7l4.443 1.777a.6.6 0 0 1 .334.78l-1.626 4.066a.6.6 0 0 1-.557.377H18M6 4L1.557 5.777a.6.6 0 0 0-.334.78l1.626 4.066a.6.6 0 0 0 .557.377H6"/></svg>
                        <span class="li-text">MERCH</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="scroll">
            <p>OR START SCROLLING</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
        </div>
    </div>
</section>
<style lang="scss">
    #skyline-path{
        stroke-dasharray: 9743;
        stroke-dashoffset: 9743;
        animation: pathAnimation 4s ease;
        animation-fill-mode: forwards;
    }
    @keyframes pathAnimation {
        to {
            stroke-dashoffset: 0;
        }
    }
    .background-image {
        z-index: 0;
        position: absolute;
        width: 100%;
        min-width: 1000px;
        height: auto;
        object-fit: cover;
        bottom: auto;
        transform: translateY(30vh);
        path {
            fill: var(--loveless-pink);
            filter: brightness(40%);
        }
    }
    
    .content-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: visible;
    
        .loveless-header {
            z-index: 10;
            text-align: right;
            color: var(--loveless-black);
            flex: 1 1;
            overflow: visible;
            cursor: default;
            
            h1{
                transition: margin 0.3s var(--custom-ease-1);
                padding: 2px;

                &:hover{
                    margin-right: 20px;
                }
            }
        }

        .loveless-logo {
            z-index: 10;
            cursor: pointer;
        }

        .heartbeat-zero {
            animation: beat 5s infinite;
        }

        .heartbeat-one {
            animation: flicker 5s infinite, beat 5s infinite;
        }

        .heartbeat-two {
            animation: flicker2 5s infinite, beat 10s infinite;
        }

        .heartbeat-three {
            opacity: 0.2;
        }
    }

    .nav-list{
        z-index: 10;
        list-style: none;
        flex: 1 1;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);

        li a {
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            
            .li-text{
                font-family: 'Mortend', sans-serif;
                font-size: var(--font-size-3xl);
                color: var(--loveless-black);
                line-height: 1;
                transition: all 0.3s var(--custom-ease-1);
            }

            svg{
                position: absolute;
                opacity: 0;
                width: var(--font-size-3xl);
                height: var(--font-size-3xl);
                color: var(--loveless-pink);
                fill: var(--loveless-black);
                transition: opacity 0.3s var(--custom-ease-1);
            }
        }
    }
    
    .scroll {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 20;
        margin-bottom: 3rem;
        overflow: visible;
        
        svg{
        width: 40px;
        fill: var(--loveless-pink);
        animation: chevronAnimation 2s ease-in-out infinite;
        }
    }

    @keyframes chevronAnimation {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(10px);
        }
        100%{
            transform: translateY(0);
        }
    }
    @keyframes beat {
		0%, 100% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.1);
		}
	}
    @keyframes flicker {
        0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: 0.99;
        }
        20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
        }
    }
    @keyframes flicker2 {
        0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: 0.4;
        }
        20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.99;
        }
    }

    @media screen and (max-width : 767px) {
        h1{ 
            text-align: center;
        }
        .content-wrapper{
            flex-direction: column;
        }
        .scroll{
            margin-bottom: 1rem;
            svg{
                width: 20px;
            }
            p{
                font-size: var(--font-size-s);
            }
        }
        .loveless-logo{
            width: 250px;
        }
        .nav-list{
            li a{
                justify-content: center;
                .li-text{
                    font-size: var(--font-size-2xl);
                }
            }
        }
        .background-image{
            display: none;
        }
        
    }
    @media screen and (min-width: 768px) and (max-width: 1079px) {
        h1{ 
            text-align: center;
        }
        .content-wrapper{
            flex-direction: column;
        }
        .scroll{
            margin-bottom: 1rem;
            svg{
                width: 20px;
            }
            p{
                font-size: var(--font-size-s);
            }
        }
        .loveless-logo{
            width: 250px;
        }
        .nav-list{
            li a{
                justify-content: center;
                
                .li-text{
                    font-size: var(--font-size-3xl);
                }
                &:hover{
                    all: unset;
                }
            }
        }
        .background-image{
            display: none;
        }
        
    }
    @media screen and (min-width : 1080px) {
        h1{ 
            text-align: right;
            padding-left: var(--spacing-2xl);
        }
        .content-wrapper{
            flex-direction: row;
        }
        .scroll{
            margin-bottom: 1rem;
            svg{
                width: 20px;
            }
            p{
                font-size: var(--font-size-s);
            }
        }
        .loveless-logo{
            width: 250px;
        }
        .nav-list{
            li a{
                justify-content: flex-start;
                .li-text{
                    font-size: var(--font-size-3xl);
                }
                svg{
                    padding: 0 0 var(--spacing-s) var(--spacing-xs);
                }
                &:hover{
                .li-text{
                    margin-left: 50px;
                    color: var(--loveless-pink);
                    text-shadow: none;
                }
                svg{
                    opacity: 1;
                }
            }
            }
        }
    }
    
</style>