---
import type { EventProps } from '../../types/event'
import { links } from '../../utils/links'
import WhatsOnScroller from './WhatsOnScroller.vue'

type Props = {
    events: Array<EventProps>
}

const {events} = Astro.props

var upcomingEvents: EventProps[] = events;

if (events && events.length > 0){
    const now = new Date();
    const result = events.reduce((maxEvent, currentEvent) => {
        const maxEventDate = new Date(maxEvent.data.date);
        const currentEventDate = new Date(currentEvent.data.date);
        return currentEventDate > maxEventDate ? currentEvent : maxEvent;
    });
    if (new Date(result.data.date) > now) {
        upcomingEvents = [result];
    }
}

const description = (upcomingEvents.length === 1
    ? upcomingEvents[0].data.description.toUpperCase()
    : "WE GOT SOME SURPRISES IN STORE FOR YOU. STAY IN TOUCH FOR THE NEXT EVENT");
---
<script>
    
</script>
<section class="section-wrapper bg-blue color-blue section-helper">
    <div class="cic">
        <img src="/images/radial-lines.png" class="background-image-2" alt=""  loading="lazy" decoding="async">
        <div class="content-wrapper">
            <div class="text-wrapper">
                <div class="header-wrapper">
                    <h1 class="back-1 stroke-blue">WHAT'S ON</h1>
                    <h1 class="back-2 stroke-blue">WHAT'S ON</h1>
                    <h1 class="front">WHAT'S ON</h1>
                </div>
                <div class="p-wrapper">
                    <p>{description}</p>
                </div>
                {upcomingEvents.length == 1
                    ? (<a href={links.tickets} class="button" target="_blank">GET TICKETS NOW</a> <a href={links.events} class="button-secondary">OUR EVENTS</a>)
                    : (<a href={links.instagram} class="button" target="_blank">STAY IN TOUCH</a> <a href={links.events} class="button-secondary">CHECK PAST EVENTS</a>)
                }
            </div>
            <WhatsOnScroller events={upcomingEvents} client:visible/>
            <img src="/images/surprise.svg" class="mobile-image mobile-content" alt=""  loading="lazy" decoding="async">
        </div>
    </div>
</section>
<style lang="scss">
.background-image-2 {
    position: absolute;
    width: 100%;
    margin-left: 55%;
    margin-top: 10%;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    width: 100%;
    height: 100%;
    overflow: visible;
    padding: 10% 0 10% 10%;
}

.text-wrapper {
    z-index: 1000;
    overflow: visible;
    max-width: 500px;

    .header-wrapper {
        z-index: 0;
        position: relative;
        overflow: visible;
        width: max-content;
        margin-bottom: var(--spacing-4xl);

        .back-1 {
            z-index: 10;
            color: var(--loveless-black);
            position: absolute;
            transform: translateY(var(--spacing-2xl));
        }
        .back-2 {
            z-index: 10;
            color: var(--loveless-black);
            position: absolute;
            transform: translateY(calc(-1 * var(--spacing-l)));
        }
        .front {
            position: relative;
            z-index: 20;
            font-family: 'Mortend', 'sans-serif';
            font-size: var(--font-size-6xl);
            display: inline-block;
            padding-top: 10px;
            background-color: var(--loveless-black);
        }
    }

    .p-wrapper {
        color: var(--loveless-white);
        font-size: var(--font-size-xl);
        margin-bottom: var(--spacing-l);
        #date {
            color: var(--loveless-blue);
        }
    }

    .button {
        display: block;
        width: max-content;
        padding: 12px 24px;
        background-color: var(--loveless-blue);
        color: var(--loveless-black);
        font-size: var(--font-size-m);
        font-weight: 700;
        border-radius: var(--radius-m);
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s, transform 0.2s ease-in-out;

        &:hover {
            background-color: var(--loveless-blue-dark);
            transform: translateY(calc(-1 * var(--spacing-2xs)));
        }

        &-secondary{
            display: block;
            width: max-content;
            margin: var(--spacing-l) 0;
            padding: 12px 24px;
            background-color: var(--loveless-black);
            color: var(--loveless-blue);
            border: 2px solid var(--loveless-blue);
            font-size: var(--font-size-m);
            font-weight: 700;
            border-radius: var(--radius-m);
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s, transform 0.2s ease-in-out;

            &:hover {
                transform: translateY(calc(-1 * var(--spacing-2xs)));
            }
        }
    }
}



@media screen and (max-width: 767px) {
    .section-wrapper{
        height: max-content !important;
    }
    .content-wrapper {
        flex-direction: column;
        padding: 10%;
        align-items: center;
    }

    .text-wrapper {
        overflow: visible;
        max-width: none;

        .header-wrapper {
            margin-top: var(--spacing-l);
            margin-bottom: var(--spacing-xl);

            .back-1 {
                transform: translateY(28px);
            }

            .back-2 {
                transform: translateY(-10px);
            }
        }

        .button {
            margin: var(--spacing-l) 0;
        }
    }
    .background-image-2 {
        margin-left: 55%;
        margin-top: 100%;
    }

    .mobile-image {
        z-index: 1000;
        border: 2px solid var(--loveless-blue);
        border-radius: var(--radius-xs);
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
    .section-wrapper{
        height: 700px;
    }
}

@media screen and (min-width: 1080px) {
    .section-wrapper{
        max-height: 1100px;
    }
}

</style>
