---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

type Props = {

}

const {} = Astro.props

---
<Layout title="Mr. Loveless Brisbane">
	<main>
		<section class="events-wrapper bg-blue color-blue">
            <div class="events-cic">
                <div class="header-wrapper">
                    <h1 class="back-1 stroke-blue">WHAT'S ON</h1>
                    <h1 class="back-2 stroke-blue">WHAT'S ON</h1>
                    <h1 class="front">WHAT'S ON</h1>
                </div>
                <div class="content-wrapper">
                    <div class="content-header">
                        <h1 class="stroke-blue">UPCOMING EVENTS</h1>
                    </div>
                    <div class="cards">
                        <Card upcoming={true} align='left'/>
                    </div>
                    <div class="content-header align-row-right">
                        <h1 class="stroke-blue two">PAST EVENTS</h1>
                    </div>
                    <div class="cards">
                        <Card upcoming={false} align='right'/>
                        <Card upcoming={false} align='left'/>
                        <Card upcoming={false} align='right'/>
                        <Card upcoming={false} align='left'/>
                        <Card upcoming={false} align='right'/>
                    </div>
                </div>
            </div>
        </section>
	</main>
</Layout>

<style lang="scss">
    .events-wrapper {
        width: 100vw;
        min-height: 100vh;
        padding: var(--spacing-s);
        display: flex;
        flex-direction: column;
        
        .events-cic {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: flex-start;
            align-items: center;
            border-radius: var(--radius-2xl);
            background-color: var(--loveless-black);
            overflow: hidden;
            padding: var(--spacing-2xl);
        }
        h1{
            padding: 2px;
        }
    }

    .header-wrapper{
        z-index: 0;
        position: relative;
        overflow: visible;
        margin: var(--spacing-6xl);
        cursor: default;
        min-width: max-content;

        .back-1{
            z-index: 10;
            color: var(--loveless-black);
            position: absolute;
            transform: translateY(var(--spacing-2xl));
        }
        .back-2{
            z-index: 10;
            color: var(--loveless-black);
            position: absolute;
            transform: translateY(calc(-1 * var(--spacing-l)));
        }
        .front{
            position: relative;
            width: 105%;
            z-index: 20;
            font-family: 'Mortend', 'sans-serif';
            font-size: var(--font-size-6xl);
            display: inline-block;
            padding-top: 10px;
            background-color: var(--loveless-black);
        }
    }

    .content-wrapper{
        width: 80vw;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xl);
        .content-header{
            border-bottom: 1px solid var(--loveless-blue);
            display: flex;
            h1{
                color: var(--loveless-black);
            }
        }
        .cards{
            display: flex;
            flex-direction: column;
            gap: var(--spacing-4xl);
        }
    }

    @media screen and (max-width : 767px) {
        .events-wrapper{
            padding: var(--spacing-2xs);
        } 
        .header-wrapper {
            margin-top: var(--spacing-l);
            margin-bottom: var(--spacing-xl);

            .back-1 {
                transform: translateY(28px);
            }

            .back-2 {
                transform: translateY(-10px);
            }
        }
        .content-header{
            h1{
                font-size: var(--font-size-xl) !important;
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1079px) {
        .events-wrapper{
            padding: var(--spacing-xs);
        } 
        .content-header{
            h1{
                font-size: var(--font-size-3xl) !important;
            }
        }
    }
    @media screen and (min-width : 1080px) {
        
    }
</style>