---
import { links } from '../utils/links'
import type {EventProps} from '../types/event' 
import { getCollection } from 'astro:content';

const events = await getCollection('events');

var upcomingEvent: EventProps | null = (() => {
    if (events && events.length > 0) {
        const now = new Date();
        const result = events.reduce((maxEvent, currentEvent) => {
            const maxEventDate = new Date(maxEvent.data.date);
            const currentEventDate = new Date(currentEvent.data.date);
            return currentEventDate > maxEventDate ? currentEvent : maxEvent;
        });
        return new Date(result.data.date) > now ? result : null;
    }
    return null;
})();
---
<script>
    import {gsap} from 'gsap';
    import ScrollTrigger from 'gsap/ScrollTrigger';

    gsap.registerPlugin(ScrollTrigger);
    const wrapper = document.getElementById('footer-wrapper');
    const timeline = gsap.timeline({
        scrollTrigger: {
            trigger: wrapper,
            start: 'top bottom',
            once: true
        }
    });

    timeline
        .to(wrapper, {
            autoAlpha: 1
        })

        document.addEventListener('DOMContentLoaded', () => {
        const links = document.querySelectorAll('.animated-link');

        links.forEach((link) => {
            link.addEventListener('click', (event) => {
                event.preventDefault();
                const target = link.getAttribute('data-target');
                if (target) {
                    const wrappers = document.querySelectorAll('.section-wrapper');
                    const cics = document.querySelectorAll('.cic');

                    const timeline = gsap.timeline({
                        defaults: { duration: 0.5, ease: "power1.inOut" },
                        onComplete: () => {
                            window.location.href = target;
                        },
                    });

                    timeline
                        .to('#footer-wrapper > *', {
                            opacity: 0,
                            stagger: 0.1,
                        })
                } else {
                    console.error("No 'data-target' attribute found on the link.");
                }
            });
        });
    });
</script>
<section class="wrapper" id="footer-wrapper">
<!-- <div class="mail-wrapper">
        <div class="left bg-black">
            <div class="cic-left">
                <div class="header-wrapper">
                    <p class="big-words">MISSED</p>
                </div>
                <div class="content-wrapper">
                    <p>LET'S<br>FIX THAT</p>
                    <input type="email" name="email" placeholder="YOUR@MAIL.COM" required />
                </div>
                <div class="bottom"></div>
            </div>
        </div>
        <div class="right bg-blue-dark">
            <div class="cic-right">
                <div class="header-wrapper">
                    <p class="stroke-blue big-words">ME?</p>
                </div>
                <div class="content-wrapper">
                    <button type="submit">SUBSCRIBE</button>
                </div>
                <div class="bottom">
                    <p class="desktop-tablet-content">SIGN UP TO MY MAILING LIST AND NEVER MISS OUT AGAIN</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="footer-wrapper">
        <div class="logo-block">
            <picture>
                <source srcset="/images/loveless-pink.webp" type="image/webp">
                <source srcset="/images/loveless-pink.avif" type="image/avif">
                <img src="/images/loveless-pink.png" alt="Loveless logo"  loading="lazy" decoding="async">
            </picture>
            <div class="logo-texts">
                <div class="loveless-header stroke-pink">
                    <h1 class="desktop-tablet-content">MR LOVELESS</h1>
                    <h1 class="desktop-tablet-content">BRISBANE</h1>
                </div>
                <p class="logo-slogan desktop-tablet-content">MAKE BRISBANE NIGHTLIFE GREAT AGAIN</p>
            </div>
        </div>
        <div class="pages-block">
            <ul>
                <li id="header235623" class="stroke-pink">PAGES</li>

                <li><a href={links.home} class="animated-link" data-target='/'>HOME</a></li>
                <li><a href={links.events} class="animated-link" data-target='/events'>EVENTS</a></li>
                <li><a href={links.gallery} class="animated-link" data-target='/gallery'>GALLERY</a></li>
                <li><a href={links.merch}>MERCH</a></li>
                {upcomingEvent &&  <li><a href={upcomingEvent.data.ticketLink}>TICKETS</a></li>}
            </ul>
        </div>
    </div>
</section>

<style lang="scss">
    #footer-wrapper{
        width: 100%;
        height: 100vh;
        visibility: hidden;
    }

    // .mail-wrapper{
    //     display: flex;
    //     width: 100%;
    //     height: 70vh;

    //     .header-wrapper{
    //         flex: 1;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: end;
            
    //         .big-words{
    //             font-family: 'Mortend', 'sans-serif';
    //             font-size: 10rem;
    //         }
    //     }

    //     .bottom{
    //         flex: 0 0 30%;
    //         display: flex;
    //         width: 100%;
    //         justify-content: end;
    //         align-items: center;
    //         flex-direction: column;
    //         color: var(--loveless-blue);
    //         p{
    //             font-family: 'Mortend', 'sans-serif';
    //         }
    //     }
    // }

    // .left{
    //     flex: 0 0 60%;
    //     padding: var(--spacing-s) 0 var(--spacing-s) var(--spacing-s);
    //     .cic-left {
    //         position: relative;
    //         width: 100%;
    //         height: 100%;
    //         display: flex;
    //         flex-direction: column;
    //         flex-grow: 1;
    //         justify-content: center;
    //         align-items: flex-end;
    //         border-radius: var(--radius-2xl) 0 0 var(--radius-2xl);
    //         background-color: var(--loveless-blue-dark);
    //         overflow: hidden;
    //         .header-wrapper{
    //             margin-right: var(--spacing-m);
    //         }

    //         .content-wrapper{
    //         display: flex;
    //         gap: var(--spacing-l);
    //         align-items: flex-end;
    //         justify-content: end;
    //         height: 100px;
    //         width: 100%;

    //         p{
    //             font-size: var(--font-size-3xl);
    //             font-family: 'Mortend', 'sans-serif';
    //         }

    //         input{
    //             height: var(--font-size-3xl);
    //             width: 400px;
    //             margin-bottom: 10px;
    //             padding: 0 12px;
    //             border: none;
    //             border-radius: var(--radius-xs) 0 0 var(--radius-xs);
    //             background: var(--loveless-black);
    //             color: var(--loveless-blue);
    //             outline: none;
    //             appearance: none;
    //         }
    //     }
    //     }
    // }

    // .right{
    //     flex: 0 0 40%;
    //     padding: var(--spacing-s) var(--spacing-s) var(--spacing-s) 0;

    //     .cic-right {
    //         position: relative;
    //         width: 100%;
    //         height: 100%;
    //         display: flex;
    //         flex-direction: column;
    //         flex-grow: 1;
    //         justify-content: center;
    //         align-items: flex-start;
    //         border-radius: 0 var(--radius-2xl) var(--radius-2xl) 0;
    //         background-color: var(--loveless-black);
    //         overflow: hidden;
    //         .header-wrapper{
    //             margin-right: var(--spacing-m);
    //         }

    //         .content-wrapper{
    //             display: flex;
    //             flex-direction: row;
    //             gap: var(--spacing-l);
    //             align-items: flex-end;
    //             height: 100px;
    //             width: 100%;
    //             padding-bottom: 10px;

    //             button{
    //                 height: var(--font-size-3xl);
    //                 padding: 0 12px;
    //                 background-color: var(--loveless-blue-dark);
    //                 border: none;
    //                 border-radius: 0 var(--radius-xs) var(--radius-xs) 0;
    //                 color: var(--loveless-black);
    //                 text-decoration: none;
    //                 cursor: pointer;
    //             }
    //         }
    //     }
    // }

    .footer-wrapper{
        width: 100%;
        max-height: 30vh;
        padding: var(--spacing-l);
        background-color: var(--loveless-black);
        display: flex;
        justify-content: center;
        gap: var(--spacing-l);
        color: var(--loveless-pink);
        
        .logo-block{
            display: flex;
            align-items: center;
            flex: 0 0 60%;
            cursor: default;

            .logo-texts{
                .loveless-header {
                    z-index: 10;
                    text-align: left;
                    color: var(--loveless-black);
                    flex: 1 1;
                    overflow: visible;
                    
                    h1{
                        transition: color 0.3s var(--custom-ease-1), text-shadow 0.3s var(--custom-ease-1);

                        &:hover{
                            text-shadow: none;
                            color: var(--loveless-pink);
                        }
                    }
                }
                .logo-slogan{
                    letter-spacing: 6px;
                    cursor: default;
                }
            }
            picture {
                display: flex; /* Ensure proper layout */
                justify-content: center;
                align-items: center;

                img {
                    max-width: 100%; /* Scale the image relative to its container */
                    max-height: 90%; /* Maintain a maximum height */
                    height: auto; /* Maintain aspect ratio */
                }
            }
            
        }
        .pages-block{
            display: flex;
            align-items: center;
            flex: 0 0 20%;

            ul a{
                font-size: var(--font-size-xl);
                color: var(--loveless-pink);
                text-decoration: none;
                transition: margin 0.3s var(--custom-ease-1);
                &:hover{
                    color: var(--loveless-pink-dark);
                }
            }
            #header235623{
                font-size: var(--font-size-2xl);
                color: var(--loveless-black);
                font-family: 'Mortend';
                cursor: default;
            }
        }
        .socials-block{

        }
    }

@media screen and (max-width : 767px) {
    .left{
        padding: var(--spacing-2xs) 0 var(--spacing-2xs) var(--spacing-2xs);
        .header-wrapper{
            flex: none;
            margin-right: var(--spacing-xs) !important;
        }
    }
    .right{
        padding: var(--spacing-2xs) var(--spacing-2xs) var(--spacing-2xs) 0;
        .header-wrapper{
            flex: none;
            margin-left: var(--spacing-xs) !important;
        }
    }
    .wrapper{
        height: max-content !important;
        .mail-wrapper{
            height: max-content !important;
            min-height: 300px;
            .big-words{
                font-size: var(--font-size-2xl);
            }
        }
    }

    .footer-wrapper{
        flex-direction: column;
        max-height: max-content !important;
        gap: var(--spacing-2xs) !important;
        .logo-block{
            flex-direction: column-reverse;
            h1{
                font-size: var(--font-size-2xl) !important;
                padding: 5px;
                text-align: center;
            }

            picture img{
                max-width: 250px;
            }
        }
        .pages-block{
            justify-content: center;
            padding-bottom: var(--spacing-xl);
            ul li{
                text-align: center;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
    .left{
        padding: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-xs);
    }
    .right{
        padding: var(--spacing-2xs) var(--spacing-2xs) var(--spacing-2xs) 0;
    }

    .wrapper{
        height: max-content !important;
        .mail-wrapper{
            height: max-content !important;
            min-height: 300px;
            .big-words{
                font-size: var(--font-size-2xl);
            }
        }
    }

    .footer-wrapper{
        max-height: max-content !important;
        gap: var(--spacing-2xl) !important;
        .logo-block{

            .logo-texts{
                .loveless-header {
                    
                    h1{
                        font-size: var(--font-size-2xl) !important;
                        &:hover{
                            text-shadow: none;
                            color: var(--loveless-pink);
                        }
                    }
                }
                .logo-slogan{
                    letter-spacing: 6px;
                    font-size: var(--font-size-s);
                    cursor: default;
                }
            }

            picture img{
                max-height: 90%;
            }
        }
        .pages-block{
            display: flex;
            align-items: center;
            flex: 0 0 20%;

            ul a{
                font-size: var(--font-size-l);
                color: var(--loveless-pink);
                text-decoration: none;
                transition: margin 0.3s var(--custom-ease-1);
            }
            #header235623{
                font-size: var(--font-size-xl);
                color: var(--loveless-black);
                font-family: 'Mortend';
                cursor: default;
            }
        }
        .socials-block{

        }
    }
}
@media screen and (min-width : 1080px) {
    .wrapper{
        height: max-content !important;
        .mail-wrapper{
            height: max-content !important;
            min-height: 300px;
            .big-words{
                font-size: var(--font-size-2xl);
            }
        }
    }
    .footer-wrapper{
        max-height: max-content !important;
        gap: var(--spacing-2xl) !important;
        .logo-block{

            .logo-texts{
                .loveless-header {
                    
                    h1{
                        font-size: var(--font-size-2xl) !important;
                        &:hover{
                            text-shadow: none;
                            color: var(--loveless-pink);
                        }
                    }
                }
                .logo-slogan{
                    letter-spacing: 6px;
                    font-size: var(--font-size-s);
                    cursor: default;
                }
            }

            picture {
                img{
                max-height: 90%;
                max-width: 300px;
            }}
        }
        .pages-block{
            display: flex;
            align-items: center;
            flex: 0 0 20%;

            ul a{
                font-size: var(--font-size-l);
                color: var(--loveless-pink);
                text-decoration: none;
                transition: margin 0.3s var(--custom-ease-1);
            }
            #header235623{
                font-size: var(--font-size-xl);
                color: var(--loveless-black);
                font-family: 'Mortend';
                cursor: default;
            }
        }
        .socials-block{

        }
    }
}
</style>